body{
  background-image: linear-gradient(to right, rgb(93, 91, 235), rgb(91, 235, 228));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
  /* grid-template-rows: ; */
  max-width: 960px;
}
div{
  grid-column-end: span 1;
}
