*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(to right, rgba(93, 91, 235, .8), rgba(91, 235, 228, .8));
  margin-top: 10px;
}
.container{
  display: grid;
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
  /* align-items: center; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: 25vh 25vh 25vh 25vh 25vh 25vh 25vh 25vh; */
  grid-template-rows: repeat(12, 25vh);
  grid-gap: 10px;
}
.colorBox{
  grid-column-end: span 1;
}
#colorBox1{
  background-color: rgb(255, 0, 0);
  animation-name: leftmost;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
#colorBox2{
  background-color: rgba(250, 140, 0);
}
#colorBox3{
  background-color: rgb(247, 236, 12);
}
#colorBox4{
  background-color: rgb(79, 240, 12);
}
#colorBox5{
  background-color: rgb(1, 225, 240);
}
#colorBox6{
  background-color: rgb(237, 12, 180);
}
@keyframes leftmost {
  0% {background-color: rgb(255, 0, 0);}
  20% {background-color: rgba(250, 140, 0);}
  40% {background-color: rgb(247, 236, 12);}
  60% {background-color: rgb(79, 240, 12);}
  80% {background-color: rgb(1, 225, 240);}
  100% {background-color: rgb(237, 12, 180);}
}
