*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  /* background-image: linear-gradient(to right, rgba(93, 91, 235, .8), rgba(91, 235, 228, .8)); */
  background-color: black;
  margin-top: 10px;
}
@keyframes leftmost {
  0% {background-color: rgb(255, 0, 0);}
  16.66666% {background-color: rgba(250, 140, 0);}
  33.33333% {background-color: rgb(247, 236, 12);}
  49.99999% {background-color: rgb(79, 240, 12);}
  66.66666% {background-color: rgb(1, 225, 240);}
  83.33333% {background-color: rgb(237, 12, 180);}
}
@keyframes oneoverleft {
  0% {background-color: rgba(250, 140, 0);}
  16.66666% {background-color: rgb(247, 236, 12);}
  33.33333% {background-color: rgb(79, 240, 12);}
  49.99999% {background-color: rgb(1, 225, 240);}
  66.66666% {background-color: rgb(237, 12, 180);}
  83.33333% {background-color: rgb(255, 0, 0);}
}
@keyframes twooverleft {
  0% {background-color: rgb(247, 236, 12);}
  16.66666% {background-color: rgb(79, 240, 12);}
  33.33333% {background-color: rgb(1, 225, 240);}
  49.99999% {background-color: rgb(237, 12, 180);}
  66.66666% {background-color: rgb(255, 0, 0);}
  83.33333% {background-color: rgba(250, 140, 0);}
}
@keyframes threeoverleft {
  0% {background-color: rgb(79, 240, 12);}
  16.66666% {background-color: rgb(1, 225, 240);}
  33.33333% {background-color: rgb(237, 12, 180);}
  49.99999% {background-color: rgb(255, 0, 0);}
  66.66666% {background-color: rgba(250, 140, 0);}
  83.33333% {background-color: rgb(247, 236, 12);}
}
@keyframes fouroverleft {
  0% {background-color: rgb(1, 225, 240);}
  16.66666% {background-color: rgb(237, 12, 180);}
  33.33333% {background-color: rgb(255, 0, 0);}
  49.99999% {background-color: rgba(250, 140, 0);}
  66.66666% {background-color: rgb(247, 236, 12);}
  83.33333% {background-color: rgb(79, 240, 12);}
}
@keyframes fiveoverleft {
  0% {background-color: rgb(237, 12, 180);}
  16.66666% {background-color: rgb(255, 0, 0);}
  33.33333% {background-color: rgba(250, 140, 0);}
  49.99999% {background-color: rgb(247, 236, 12);}
  66.66666% {background-color: rgb(79, 240, 12);}
  83.33333% {background-color: rgb(1, 225, 240);}
}
@keyframes spin {
  100%{
    transform: rotate(180deg);
  }
}
@keyframes spin2 {
  100%{
    transform: rotate(-180deg);
  }
}
/* @keyframes rotate {
    100%{
      transform: scaleX(2) scaleY(2);
    }
} */

.container2{
  display: grid;
  width: 100%;
  max-width: 1300px;
  margin: 0px auto;
  /* align-items: center; */
  grid-template-columns: fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(6, 1fr); */
  /* grid-template-rows: 1fr 2fr 1fr 4fr 3fr 1fr 5fr 1fr 1fr 2fr 4fr 1fr; */
  grid-template-rows: repeat(6, 10vh);
  grid-gap: 10px;
}
.secondColorBox{
  grid-column-end: span 1;
  margin-top: 10px;
}
#secondColorBox1{
  background-color: rgb(255, 0, 0);
  /* animation-name: leftmost;
  animation-duration: 8s; */
  animation: spin 4s, leftmost 8s;
  animation-iteration-count: infinite;
}
#secondColorBox2{
  background-color: rgba(250, 140, 0);
  /* animation-name: oneoverleft;
  animation-duration: 8s; */
  animation: spin2 4s, oneoverleft 8s;
  animation-iteration-count: infinite;
}
#secondColorBox3{
  background-color: rgb(247, 236, 12);
  animation-name: twooverleft;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
#secondColorBox4{
  background-color: rgb(79, 240, 12);
  animation-name: threeoverleft;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
#secondColorBox5{
  background-color: rgb(1, 225, 240);
  /* animation-name: fouroverleft;
  animation-duration: 8s; */
  animation-iteration-count: infinite;
  animation: spin 4s, fouroverleft 8s;
  animation-iteration-count: infinite;
}
#secondColorBox6{
  background-color: rgb(237, 12, 180);
  animation-name: fiveoverleft;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.container{
  display: grid;
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
  /* align-items: center; */
  /* grid-template-columns: fr 1fr 2fr 1fr 1fr 2fr; */
  /* grid-template-columns: repeat(6, 1fr); */
  grid-template-columns: 40px 25px auto 25px 40px;
  grid-template-rows: 3vh 2vh 3vh 4vh 5vh 3vh 2vh 3vh 2vh 6vh 3vh 5vh 3vh 2vh 5vh;
  /* grid-template-rows: 1fr 2fr 1fr 4fr 3fr 1fr 5fr 1fr 1fr 2fr 4fr 1fr; */
  /* grid-template-rows: repeat(12, 25vh); */
  grid-gap: 10px;
  margin-top: 25px;
}
.colorBox{
  grid-column-end: span 1;
}
#colorBox1{
  background-color: rgb(255, 0, 0);
  animation-name: leftmost;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
#colorBox2{
  background-color: rgba(250, 140, 0);
  animation-name: oneoverleft;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
#colorBox3{
  background-color: rgb(247, 236, 12);
  animation-name: twooverleft;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
#colorBox4{
  background-color: rgb(79, 240, 12);
  animation-name: threeoverleft;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
#colorBox5{
  background-color: rgb(1, 225, 240);
  animation-name: fouroverleft;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
#colorBox6{
  background-color: rgb(237, 12, 180);
  animation-name: fiveoverleft;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
